<div class="container"></div>
<h1>Companies</h1>

<button class="btn btn-primary">Add</button>
<table class="table table-striped">
  <thead>
    <th>Name</th>
    <th>Email</th>
    <th>Phone Number</th>
  </thead>
  <tbody>
    <tr *ngFor="let company of companies">
      <td>{{ company.name }}</td>
      <td>{{ company.email }}</td>
      <td>{{ company.phone }}</td>
      <td>
        <button class="btn btn-success">Edit</button>
        <button class="btn btn-danger">Delete</button>
      </td>
    </tr>
  </tbody>
</table>

<!-- {{ companies | json }} -->
