<table class="table table-striped">
  <thead>
    <th>Name</th>
    <th>Email</th>
    <th>Phone Number</th>
  </thead>
  <tbody>
    <tr *ngFor="let company of companies">
      <td>{{ company.name }}</td>
      <td>{{ company.email }}</td>
      <td>{{ company.phone }}</td>
      <td class="company-row">
        <button
          class="btn btn-success"
          [routerLink]="['/company/edit', company.id]"
          routerLinkActive="router-link-active"
        >
          Edit
        </button>
        <button class="btn btn-danger" (click)="deleteCompany(company)">
          Delete
        </button>
      </td>
    </tr>
  </tbody>
</table>
